.home_container {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 50px;

  padding: 40px 60px;
}

.text_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: oklch(0.145 0 0);
  }

  p {
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #717182;
  }
}

@media (max-width: 450px) {
  .home_container {
    padding: 20px 30px;
  }

  .text_container {
    p {
      max-width: 100%;
      font-size: 16px;
    }
  }
}
