.list_Wrapper {
  display: flex;
  gap: 20px;

  list-style-type: none;
  font-size: 14px;

  li {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 450px) {
  .list_Wrapper {
    width: 100%;
    flex-direction: column;
    gap: 25px;

    font-weight: 500;
  }
}
